In [2]:
import pandas as pd

#Using CSV file for now
#file = 'CSV Files/GAdata_5year.txt'
file = 'GAdata_5year_bydonor.txt'

#error_bad_lines drops any record with extra delimiters (tabs, here)
#donors = pd.read_csv(file, sep= ',', error_bad_lines=False, index_col='iID')
donors = pd.read_csv(file, sep=',', error_bad_lines=False, index_col='iContactID')

Skipping line 571318: expected 101 fields, saw 102

Skipping line 1332149: expected 101 fields, saw 102

/Users/Lellis/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (0,9,10,11,12,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
donors.head()

,sCity,sState,sZip,sEmail,sEmployer,sOccupation,mHPCFive,mHPCLT,iNumLifetime,mSumLifetime,...,amt_st_2014_gifts,amt_st_2015_gifts,avg_gift,avg_dm_gift,avg_fi_gift,avg_nm_gift,avg_sp_gift,avg_st_gift,years_on_file,months_on_file
iContactID,,,,,,,,,,,,,,,,,,,,,
5932,Toledo,OH,43606-1131,ronald.randall@utoledo.edu,University of Toledo,RETIRED,100,100,25,1945,...,0,0,90.00,89.2857,NaN,NaN,91.6666,NaN,26,309
21865,Santa Monica,CA,90402-1229,sweettree@bigfoot.com,American Film Founda,Director/Producer/Writer,0,200,6,455,...,0,0,25.00,NaN,25.0,NaN,NaN,NaN,26,309
30848,Everett,WA,98208-3972,hvangoeye@aol.com,The Boeing Co,Retired,10,50,31,760,...,0,0,10.00,10.0000,NaN,NaN,NaN,NaN,23,276
37451,Amherst,MA,01002-1224,bmarybeth@comcast.net,retired,Retired,200,200,25,1945,...,0,0,131.25,131.2500,NaN,NaN,NaN,NaN,25,297
37591,Amherst,MA,01002-2814,ese43@comcast.net,Univ. of Massachusetts,Professor,30,100,18,895,...,0,0,27.50,NaN,27.5,NaN,NaN,NaN,26,315

In [4]:
donors.shape

(2071125, 100)

### Raw file has 9234384 rows
* CSV read has 7445093
* Pipe has 7543845, with no headers
* tab read took significantly longer, not worth it

In [6]:
donors.years_on_file.describe()

count    2070477.000000
mean           4.018971
std            5.999756
min            0.000000
25%            0.000000
50%            1.000000
75%            6.000000
max          265.000000
Name: years_on_file, dtype: float64

In [7]:
donors.months_on_file.describe()

count    2070474.000000
mean          48.120111
std           71.791981
min            0.000000
25%            0.000000
50%           11.000000
75%           73.000000
max          412.000000
Name: months_on_file, dtype: float64

In [19]:
#here is some ugly ugly data
donors[donors.years_on_file > 40]

,sCity,sState,sZip,sEmail,sEmployer,sOccupation,mHPCFive,mHPCLT,iNumLifetime,mSumLifetime,...,amt_st_2014_gifts,amt_st_2015_gifts,avg_gift,avg_dm_gift,avg_fi_gift,avg_nm_gift,avg_sp_gift,avg_st_gift,years_on_file,months_on_file
iContactID,,,,,,,,,,,,,,,,,,,,,
98664614,Oakland,CA,94619-2918,NaN,",real est b,0,35,3,95,3,0,0,0,2009-05-29 00:00...",0,100,23,1050,8,...,0,47.5,NaN,47.5,NaN,NaN,NaN,22,265,NaN

In [20]:
donors.columns

Index([u'sCity', u'sState', u'sZip', u'sEmail', u'sEmployer', u'sOccupation',
       u'mHPCFive', u'mHPCLT', u'iNumLifetime', u'mSumLifetime', u'iNumDMLT',
       u'iNumFILT', u'iNumOnlineLT', u'iNumTMFour', u'dtFC_Date',
       u'sFC_Account', u'sFC_Channel', u'dtMRC_Date', u'mMRC_Amount',
       u'num_2010_gifts', u'num_2011_gifts', u'num_2012_gifts',
       u'num_2013_gifts', u'num_2014_gifts', u'num_2015_gifts',
       u'num_dm_2010_gifts', u'num_dm_2011_gifts', u'num_dm_2012_gifts',
       u'num_dm_2013_gifts', u'num_dm_2014_gifts', u'num_dm_2015_gifts',
       u'num_nm_2010_gifts', u'num_nm_2011_gifts', u'num_nm_2012_gifts',
       u'num_nm_2013_gifts', u'num_nm_2014_gifts', u'num_nm_2015_gifts',
       u'num_fi_2010_gifts', u'num_fi_2011_gifts', u'num_fi_2012_gifts',
       u'num_fi_2013_gifts', u'num_fi_2014_gifts', u'num_fi_2015_gifts',
       u'num_sp_2010_gifts', u'num_sp_2011_gifts', u'num_sp_2012_gifts',
       u'num_sp_2013_gifts', u'num_sp_2014_gifts', u'num_sp_2015_gifts',
       u'num_st_2010_gifts', u'num_st_2011_gifts', u'num_st_2012_gifts',
       u'num_st_2013_gifts', u'num_st_2014_gifts', u'num_st_2015_gifts',
       u'canvass_donor', u'amt_2010_gifts', u'amt_2011_gifts',
       u'amt_2012_gifts', u'amt_2013_gifts', u'amt_2014_gifts',
       u'amt_2015_gifts', u'amt_dm_2010_gifts', u'amt_dm_2011_gifts',
       u'amt_dm_2012_gifts', u'amt_dm_2013_gifts', u'amt_dm_2014_gifts',
       u'amt_dm_2015_gifts', u'amt_nm_2010_gifts', u'amt_nm_2011_gifts',
       u'amt_nm_2012_gifts', u'amt_nm_2013_gifts', u'amt_nm_2014_gifts',
       u'amt_nm_2015_gifts', u'amt_fi_2010_gifts', u'amt_fi_2011_gifts',
       u'amt_fi_2012_gifts', u'amt_fi_2013_gifts', u'amt_fi_2014_gifts',
       u'amt_fi_2015_gifts', u'amt_sp_2010_gifts', u'amt_sp_2011_gifts',
       u'amt_sp_2012_gifts', u'amt_sp_2013_gifts', u'amt_sp_2014_gifts',
       u'amt_sp_2015_gifts', u'amt_st_2010_gifts', u'amt_st_2011_gifts',
       u'amt_st_2012_gifts', u'amt_st_2013_gifts', u'amt_st_2014_gifts',
       u'amt_st_2015_gifts', u'avg_gift', u'avg_dm_gift', u'avg_fi_gift',
       u'avg_nm_gift', u'avg_sp_gift', u'avg_st_gift', u'years_on_file',
       u'months_on_file'],
      dtype='object')